html{
  scroll-behavior: smooth;}
  /* Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

* {
--primary-1: 230, 15%, 22%; /* Neutral */
--primary-2: 230, 15%, 20%; /* Dark */
--primary-3: 230, 15%, 18%; /* Darker */
--primary-4: 230, 15%, 45%; /* Lightest */
--secondary: 166, 69%, 81%; /* Splash of Color */
--transition: cubic-bezier(0.77, 0, 0.175, 1);
}

*,
*:before,
*:after {
box-sizing: border-box;
}

body {
height: 100vh;
margin: 0;
background: rgb(255, 255, 255);
}
#main
{
background-color:black;
border-bottom-left-radius:30px;
border-bottom-right-radius:30px;
}
.multi-button {
--shadow: 286, 24%, 14%;
position: relative;
background: hsl(var(--primary-1));
border: 1px solid hsl(var(--primary-2));
box-shadow: 1px 1px 1px hsla(var(--shadow), 0.12),
3px 3px 3px hsla(var(--shadow), 0.11), 5px 5px 5px hsla(var(--shadow), 0.1),
7px 7px 7px hsla(var(--shadow), 0.09),
11px 11px 11px hsla(var(--shadow), 0.08),
13px 13px 13px hsla(var(--shadow), 0.07),
17px 17px 17px hsla(var(--shadow), 0.06),
19px 19px 19px hsla(var(--shadow), 0.05),
23px 23px 23px hsla(var(--shadow), 0.04),
29px 29px 29px hsla(var(--shadow), 0.03);
border-radius: 4px;
user-select: none;
margin-bottom:20%;
}

label {
display: inline-block;
position: relative;
padding: 0 1.4rem;
color: #5c617b;
font-size: 16px;
font-weight: 600;
font-family: "Poppins", "Helvetica", sans-serif;
text-transform: uppercase;
letter-spacing: 4px;
border: none;
border-radius: 2px;
background: none;
transition: all 0.4s var(--transition);
cursor: pointer;
}

span {
margin-right: 0.1rem;
}

span svg {

height: 17px;
width: 17px;
}

label:before {
content: "";
position: absolute;
height: 1px;
width: 0;
top: 1%;
left: 50%;
background: hsla(var(--secondary), 0.35);
border-radius: 2px;
transition: all 0.25s var(--transition);
}

label:hover:before {
width: 80%;
left: 10%;
border-top: 1px solid hsl(var(--secondary));
}



input:checked + label {
color: hsl(var(--secondary));
transition-delay: 0.1s;
}

input[type="checkbox"] {
display: none;
}

/* Scrollbar Start */
::-webkit-scrollbar {
width: 0px;
}
::-webkit-scrollbar::hover {
width: 4px;
}
::-webkit-scrollbar-track {
background: #eee;
border-radius: 5px;
}

::-webkit-scrollbar-thumb {
background: #aaa;
border-radius: 5px;
}
.title
{
font-size:330%;
}
#main_sub
{
display: grid;
place-items: center;;
}
.multi-button
{
place-items:top;
}

.font-mont
{
  font-family: 'Montserrat', sans-serif;
}

.square
{
display: grid;
place-content:center;
}

.anim.register
{
width:100%;
}
.box
{
text-align:center;
box-shadow:none;
background-color: transparent;
padding-top:10px;
padding-bottom:10px;
align-items: center;
}

.design
{
padding: 0px;
align-items: center;
border-radius:5px;
font-weight:bolder;
}

.design p
{
background-color:black;
color:white;
text-align:center;
padding-top:6px;
width:100%;
padding-bottom:6px;
border-radius:10px;
}

@keyframes topleft
{
from{top:0px; right:5px;}
to{ top:160px; right:5px; }
}

@keyframes toleft
{
from{top:0px; right:5px;}
to{ top:100px; right:5px;}
}
@keyframes bottomleft
{
from{top:180px; right:5px;}
to{top:240px; right:5px;}
}

@keyframes topleftback
{
from{ top:160px; right:125px;}
to{top:180px; right:5px;}

}
@keyframes toleftback
{
from{ top:215px; right:100px;}
to{top:180px; right:5px;}

}
@keyframes bottomleftback
{
from{top:240px; right:5px;}
to{top:180px; right:5px;}

}


.font_san
{
font-family: 'Open Sans', sans-serif;
}
.font_Al
{
font-family: 'Alegreya Sans', sans-serif;
}
.description
{
font-weight:bolder;
margin-bottom:5%;
}
#menu:hover
{
cursor: pointer;
}
#Apply
{ display:none;
animation-fill-mode: forwards;
animation-duration: 0.5s;
animation-delay: 0s;
}
#Home
{
display:none;
animation-fill-mode: forwards;
animation-duration:0.5s;
animation-delay:0.2s;
}
#Team
{
display:none;
animation-fill-mode:forwards;
animation-duration:0.5s;
animation-delay: 0.4s;
}

::-webkit-scrollbar{
display:none;

}
body
{
margin-top: 0px;
padding-top:0px;

}

span.same
{
color:rgb(160, 160, 160);
font-size:85%;
font-weight:lighter;
}
span.left
{
position:absolute;
left:3%;
}
span.right
{
position:absolute;
right:3%;
}
.top_text
{
align-items: baseline;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  /* background-color: #101426f3; */
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  align-items: baseline;
}